html, body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
}

 body {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(48, 136, 131);
    /* display: flex;
    flex-wrap: wrap; */
}
h1{
    text-align: center;
}

.parent_div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left:100px;
    margin-right: 100px;
}

.parent_dir {
    display: flex;
    flex-wrap: wrap;
    margin-left:100px;
    margin-right: 100px;
    justify-content: center;
}

.device_div {
    /* display: flex; */
    flex-direction: column;
    padding: 2px 2px 2px 2px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #9bc5c5;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    max-height: 150px;

    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    box-sizing: border-box;
}

.device_div:hover {
    background-color: rgba(119, 225, 225, 0.61);
    border: 2px solid rgb(95, 251, 124);
}


.device_link {
    text-align: center;
    /* color: rgb(23, 27, 27) !important; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    max-height: 100%;
    padding: 10px 0px 0px 0px;
    /* background-color: rgb(50, 219, 219); */

    display: block;
    cursor: pointer;
    word-break: break-all;
    position: relative;
}

img {
    height: 100px;
    width: auto;
}

.device_link:link {
    text-decoration: none;
}

.device_link p {
    text-overflow: ellipsis;
    overflow: hidden;
    /* // Addition lines for 2 line or multiline ellipsis */
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;

    border-radius: 5px;
    margin: 2px;
    color: #000;
}





.add_button {
    width: 80%;
    height: 80%;
    background-color: rgb(196, 255, 221);
    cursor: pointer;
    border-radius: 10px;
    border: 5px solid rgb(212, 212, 212) ;
    font-size: 50px;
    color: #bcbcbc;

}

.add_folder {
    display: flex;
    flex-direction: column;
    width: 90px;
    min-height: 90px;
    max-height: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(155, 197, 197);
    justify-content: center;
    align-items: center;
    margin: 10px;

}


/* ------------- add device ---------------------------- */

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #9f9f9f;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(225, 239, 239);
}

/* Set a style for all buttons */
#submit_btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
.button:hover {
    background-color: #ffedca;
    border-color: rgb(245, 202, 123);
}



/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 100px;
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(169, 234, 213);
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 500px;
    /* height: 300px; */
    /* Could be more or less, depending on screen size */
    border-radius: 10px;
}
.container {
    padding: 16px;
    /* border-radius: 10px; */
    /* border: 10px solid; */
    position: relative;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}





